#navbar{
    opacity: 85%;
}

#foto-logo-navbar-container{
    height: 36px;
}

#foto-logo-navbar{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
} 

#whatsapp-icon{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

#banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#foto-principal{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#conteudo-banner-principal{
}

#paragrafo-banner-principal{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center
}

#nossa-historia{
    height: 80vh;
}

#carrousel-projects-photos{
    width: 50vh;
    margin: 40px;
    display: block;
}

#carrousel-projects-photos .carousel-inner .carousel-item img{
    max-height: 80vh;
}

#nossa-historia-texto{
    width: 100%;
    margin: 40px;
    padding: 10px;
    height: 80vh;
    text-align: center;

}